@import "src/styles/variables.scss";

.icon {
  fill: currentColor;

  &_primary > path {
    fill: $likegold;
  }

  &_secondary > path {
    fill: $intimateblack;
  }

  &_accent > path {
    fill: $sexyred;
  }
}
