@import "src/styles/variables.scss";

.text {
  color: currentColor;
  word-break: break-word;

  &_title {
    font-size: 24px;
    line-height: 1.2;
  }

  &_button {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
  }

  &_p-18 {
    font-size: 18px;
    line-height: 1.222;
  }

  &_p-16 {
    font-size: 16px;
    line-height: 1.25;
  }

  &_p-14 {
    font-size: 14px;
    line-height: 1.286;
  }

  &_p-12 {
    font-size: 12px;
    line-height: 1;
  }

  &_p-8 {
    font-size: 8px;
    line-height: 1;
  }

  &_primary {
    color: $intimateblack;
  }

  &_secondary {
    color: $almostwhite;
  }

  &_accent {
    color: $likegold;
    filter: drop-shadow($btn-shadow);
  }

  &_extra {
    color: $sexyred;
  }

  &_multilines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
