@import "src/styles/variables.scss";

.text {
  color: currentColor;
  word-break: break-word;

  &_title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.0909;
  }

  &_button {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  &_p-20 {
    font-size: 20px;
    line-height: 1.2;
  }

  &_p-18 {
    font-size: 18px;
    line-height: 1.222;
  }

  &_p-16 {
    font-size: 16px;
    line-height: 1.25;
  }

  &_p-14 {
    font-size: 14px;
    line-height: 1.286;
  }

  &_p-12 {
    font-size: 12px;
    line-height: 1;
  }

  &_p-8 {
    font-size: 8px;
    line-height: 1;
  }

  &_primary {
    color: $intimateblack;
  }

  &_secondary {
    color: $almostwhite;
  }

  &_accent {
    color: $likegold;
  }

  &_extra {
    color: $sexyred;
  }
}
