$flesh: #ffe7cd;
$likegold: #fbbc81;
$almostwhite: #f7f3e8;
$sexyred: #c73d31;
$intimateblack: #1c130e;

$button-gradient: linear-gradient(
  290deg,
  #1c130e -25.38%,
  #fbbc81 66.03%,
  #ffe7cd 109.11%
);
$progress-gradient: linear-gradient(
  290deg,
  #1c130e -25.38%,
  #fbbc81 66.03%,
  #ffe7cd 109.11%
);
$element-gradient: radial-gradient(
  10651.73% 131.5% at 0.83% 3.75%,
  #fbbc81 0%,
  #f7f3e8 100%
);

$box-shadow: 0px 0px 2em $likegold;
