.wigwam {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      text-align: center;
    }
  }

  &__progressBox {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      margin: 0 0 10px;
    }
  }

  &__btn {
    margin: auto;
  }

  &__dialogText {
    margin: 30px 0 40px;

    @media (max-width: 350px) {
      margin: 20px 0;
    }
  }
}
