@import "src/styles/variables.scss";

.input {
  font-size: 1rem;
  flex-grow: 1;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.4s ease-in;

  &::placeholder {
    color: rgba(28, 19, 14, 0.6);
    font-weight: 500;
  }

  &:focus {
    outline: none;
    filter: drop-shadow($box-shadow);
  }

  &_standard {
    border: none;
    border-bottom: 1px solid $intimateblack;
    text-align: center;
    background-color: transparent;
    &:focus {
      border-bottom: 1px solid $likegold;
      filter: none;
    }
  }

  &_outlined {
    border-radius: 10px;
    border: 1px solid $likegold;
    background: $flesh;
    text-align: start;
  }
}
