@import "src/styles/variables.scss", "src/styles/mixins.scss";

.iconButton {
  background-color: transparent;
  padding: 0.5em;
  border: none;
  @include centerFlex();
  flex-direction: column;

  &__text {
    margin-top: 5px;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}
